## Missing Values Handling

In [1]:
import pandas as pd
import numpy as np

dict = {'Score_A':[80, 90, np.nan, 80],
        'Score_B': [30, 45, np.nan, np.nan],
        'Score_C':[np.nan, 50, 80, 90]}

df = pd.DataFrame(dict)
print(df)

   Score_A  Score_B  Score_C
0     80.0     30.0      NaN
1     90.0     45.0     50.0
2      NaN      NaN     80.0
3     80.0      NaN     90.0

In [2]:
df.isnull().sum()

Score_A    1
Score_B    2
Score_C    1
dtype: int64

In [3]:
print(df.fillna(0))

   Score_A  Score_B  Score_C
0     80.0     30.0      0.0
1     90.0     45.0     50.0
2      0.0      0.0     80.0
3     80.0      0.0     90.0

In [4]:
print(df.fillna(method = "pad"))

   Score_A  Score_B  Score_C
0     80.0     30.0      NaN
1     90.0     45.0     50.0
2     90.0     45.0     80.0
3     80.0     45.0     90.0

In [5]:
dict = {'Gender':["남자", "여자", np.nan, "남자"],
        'Salary': [30, 45, 90, 70]}

df = pd.DataFrame(dict)
print(df)

  Gender  Salary
0     남자      30
1     여자      45
2    NaN      90
3     남자      70

In [6]:
df['Gender'].fillna("성별 없음")

0       남자
1       여자
2    성별 없음
3       남자
Name: Gender, dtype: object

In [7]:
dict = {'Score_A': [80, 90, np.nan, 80],
        'Score_B': [30, 45, np.nan, 70],
        'Score_C': [np.nan, 50, 80, 90], 
        'Score_D': [50, 30, 80, 60]}

df = pd.DataFrame(dict)
print(df)

   Score_A  Score_B  Score_C  Score_D
0     80.0     30.0      NaN       50
1     90.0     45.0     50.0       30
2      NaN      NaN     80.0       80
3     80.0     70.0     90.0       60

In [8]:
print(df.dropna(axis = 1))

   Score_D
0       50
1       30
2       80
3       60

In [9]:
print(df.dropna(axis = 0))

   Score_A  Score_B  Score_C  Score_D
1     90.0     45.0     50.0       30
3     80.0     70.0     90.0       60