## Group by

In [2]:
import pandas as pd 
print(pd.__version__)

1.3.4

In [3]:
sales = pd.read_csv("data/supermarket_sales.csv")
print(sales.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity      Date   Time      Payment
0       Health and beauty       74.69         7  1/5/2019  13:08      Ewallet
1  Electronic accessories       15.28         5  3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7  3/3/2019  13:23  Credit card

In [4]:
sales.groupby('Product line')['Quantity'].count()

Product line
Electronic accessories    170
Fashion accessories       178
Food and beverages        174
Health and beauty         152
Home and lifestyle        160
Sports and travel         166
Name: Quantity, dtype: int64

In [5]:
sales.groupby('Product line', sort=True)['Quantity'].count()

Product line
Electronic accessories    170
Fashion accessories       178
Food and beverages        174
Health and beauty         152
Home and lifestyle        160
Sports and travel         166
Name: Quantity, dtype: int64

In [6]:
sales.groupby(['Branch', 'Payment'])['Quantity'].count()

Branch  Payment
A       Cash           110
        Credit card    104
        Ewallet        126
B       Cash           110
        Credit card    109
        Ewallet        113
C       Cash           124
        Credit card     98
        Ewallet        106
Name: Quantity, dtype: int64

In [7]:
sales.groupby(['Branch', 'Payment'], as_index=False)['Quantity'].count()

  Branch      Payment  Quantity
0      A         Cash       110
1      A  Credit card       104
2      A      Ewallet       126
3      B         Cash       110
4      B  Credit card       109
5      B      Ewallet       113
6      C         Cash       124
7      C  Credit card        98
8      C      Ewallet       106

## Groupby 작동 원리

In [8]:
by_payment = sales.groupby("Payment")
print(by_payment)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fdd31778190>

In [13]:
for payment, frame in by_payment:
    print(f"head(2) for {payment!r}")
    print("-----")
    print(frame[['Invoice ID', 'Branch', 'City', 'Payment']].head(2), end="\n\n")

head(2) for 'Cash'
-----
     Invoice ID Branch       City Payment
1   226-31-3081      C  Naypyitaw    Cash
11  529-56-3974      B   Mandalay    Cash

head(2) for 'Credit card'
-----
    Invoice ID Branch    City      Payment
2  631-41-3108      A  Yangon  Credit card
8  665-32-9167      A  Yangon  Credit card

head(2) for 'Ewallet'
-----
    Invoice ID Branch    City  Payment
0  750-67-8428      A  Yangon  Ewallet
3  123-19-1176      A  Yangon  Ewallet

In [15]:
print(by_payment.get_group('Cash'))

      Invoice ID Branch       City Customer type  Gender  \
1    226-31-3081      C  Naypyitaw        Normal  Female
11   529-56-3974      B   Mandalay        Member    Male
14   829-34-3910      A     Yangon        Normal  Female
15   299-46-1805      B   Mandalay        Member  Female
26   649-29-6775      B   Mandalay        Normal    Male
..           ...    ...        ...           ...     ...
983  148-41-7930      C  Naypyitaw        Normal    Male
984  189-40-5216      C  Naypyitaw        Normal    Male
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity       Date   Time Payment
1    Electronic accessories       15.28         5   3/8/2019  10:29    Cash
11   Electronic accessories       25.51         4   3/9/2019  17:03    Cash
14        Health and beauty       71.38        10  3/29/2019  19:21    Cash
15        Sports and travel       93.72         6  1/15/2019  16:19    Cash
26      Fashion accessories       33.52         1   2/8/2019  15:31    Cash
..                      ...         ...       ...        ...    ...     ...
983       Health and beauty       99.96         7  1/23/2019  10:33    Cash
984  Electronic accessories       96.37         7   1/9/2019  11:40    Cash
997      Food and beverages       31.84         1   2/9/2019  13:22    Cash
998      Home and lifestyle       65.82         1  2/22/2019  15:33    Cash
999     Fashion accessories       88.34         7  2/18/2019  13:28    Cash

[344 rows x 11 columns]

In [17]:
print(sales.loc[sales['Payment'] == "Cash"])

      Invoice ID Branch       City Customer type  Gender  \
1    226-31-3081      C  Naypyitaw        Normal  Female
11   529-56-3974      B   Mandalay        Member    Male
14   829-34-3910      A     Yangon        Normal  Female
15   299-46-1805      B   Mandalay        Member  Female
26   649-29-6775      B   Mandalay        Normal    Male
..           ...    ...        ...           ...     ...
983  148-41-7930      C  Naypyitaw        Normal    Male
984  189-40-5216      C  Naypyitaw        Normal    Male
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity       Date   Time Payment
1    Electronic accessories       15.28         5   3/8/2019  10:29    Cash
11   Electronic accessories       25.51         4   3/9/2019  17:03    Cash
14        Health and beauty       71.38        10  3/29/2019  19:21    Cash
15        Sports and travel       93.72         6  1/15/2019  16:19    Cash
26      Fashion accessories       33.52         1   2/8/2019  15:31    Cash
..                      ...         ...       ...        ...    ...     ...
983       Health and beauty       99.96         7  1/23/2019  10:33    Cash
984  Electronic accessories       96.37         7   1/9/2019  11:40    Cash
997      Food and beverages       31.84         1   2/9/2019  13:22    Cash
998      Home and lifestyle       65.82         1  2/22/2019  15:33    Cash
999     Fashion accessories       88.34         7  2/18/2019  13:28    Cash

[344 rows x 11 columns]