## Group by

In [1]:
import pandas as pd 
print(pd.__version__)

1.4.1

In [2]:
sales = pd.read_csv("data/supermarket_sales.csv")
print(sales.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity      Date   Time      Payment
0       Health and beauty       74.69         7  1/5/2019  13:08      Ewallet
1  Electronic accessories       15.28         5  3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7  3/3/2019  13:23  Credit card

In [10]:
sales.groupby('Product line')['Quantity'].count()

Product line
Electronic accessories    170
Fashion accessories       178
Food and beverages        174
Health and beauty         152
Home and lifestyle        160
Sports and travel         166
Name: Quantity, dtype: int64

In [16]:
sales.groupby('Product line', sort=True)['Quantity'].count()

Product line
Electronic accessories    170
Fashion accessories       178
Food and beverages        174
Health and beauty         152
Home and lifestyle        160
Sports and travel         166
Name: Quantity, dtype: int64

In [5]:
sales.groupby(['Branch', 'Payment'])['Quantity'].count()

Branch  Payment
A       Cash           110
        Credit card    104
        Ewallet        126
B       Cash           110
        Credit card    109
        Ewallet        113
C       Cash           124
        Credit card     98
        Ewallet        106
Name: Quantity, dtype: int64

In [17]:
sales.groupby(['Branch', 'Payment'], as_index=False)['Quantity'].count()

  Branch      Payment  Quantity
0      A         Cash       110
1      A  Credit card       104
2      A      Ewallet       126
3      B         Cash       110
4      B  Credit card       109
5      B      Ewallet       113
6      C         Cash       124
7      C  Credit card        98
8      C      Ewallet       106

## How Groupby Works

In [ ]:
by_state = sales.groupby("Payment")