In [1]:
import pandas as pd 
print(pd.__version__)

1.4.1

## 테스트

In [2]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### 파일 입출력 및 미리보기
- 데이터셋 출처 : https://www.kaggle.com/aungpyaeap/supermarket-sales

In [3]:
sales = pd.read_csv("data/supermarket_sales.csv")
print(sales.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity      Date   Time      Payment
0       Health and beauty       74.69         7  1/5/2019  13:08      Ewallet
1  Electronic accessories       15.28         5  3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7  3/3/2019  13:23  Credit card

In [4]:
print(sales.tail(3))

      Invoice ID Branch    City Customer type  Gender         Product line  \
997  727-02-1313      A  Yangon        Member    Male   Food and beverages
998  347-56-2442      A  Yangon        Normal    Male   Home and lifestyle
999  849-09-3807      A  Yangon        Member  Female  Fashion accessories

     Unit price  Quantity       Date   Time Payment
997       31.84         1   2/9/2019  13:22    Cash
998       65.82         1  2/22/2019  15:33    Cash
999       88.34         7  2/18/2019  13:28    Cash

In [5]:
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice ID     1000 non-null   object
 1   Branch         1000 non-null   object
 2   City           1000 non-null   object
 3   Customer type  1000 non-null   object
 4   Gender         1000 non-null   object
 5   Product line   1000 non-null   object
 6   Unit price     1000 non-null   float64
 7   Quantity       1000 non-null   int64
 8   Date           1000 non-null   object
 9   Time           1000 non-null   object
 10  Payment        1000 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 86.1+ KB
None

In [6]:
print(sales.describe())

        Unit price     Quantity
count  1000.000000  1000.000000
mean     55.672130     5.510000
std      26.494628     2.923431
min      10.080000     1.000000
25%      32.875000     3.000000
50%      55.230000     5.000000
75%      77.935000     8.000000
max      99.960000    10.000000

### 행과 열 다루기

In [7]:
sales['Revenue'] = 0 
print(sales.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity      Date   Time      Payment  \
0       Health and beauty       74.69         7  1/5/2019  13:08      Ewallet
1  Electronic accessories       15.28         5  3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7  3/3/2019  13:23  Credit card

   Revenue
0        0
1        0
2        0

In [8]:
sales['Revenue'] = sales['Unit price'] * sales['Quantity']
print(sales.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity      Date   Time      Payment  \
0       Health and beauty       74.69         7  1/5/2019  13:08      Ewallet
1  Electronic accessories       15.28         5  3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7  3/3/2019  13:23  Credit card

   Revenue
0   522.83
1    76.40
2   324.31

In [9]:
sales_column_drop = sales.drop('Revenue', axis=1)
print(sales_column_drop.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity      Date   Time      Payment
0       Health and beauty       74.69         7  1/5/2019  13:08      Ewallet
1  Electronic accessories       15.28         5  3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7  3/3/2019  13:23  Credit card

In [10]:
sales_row_drop = sales_column_drop.drop(0, axis=0)
print(sales_row_drop.head(3))

    Invoice ID Branch       City Customer type  Gender  \
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male

             Product line  Unit price  Quantity       Date   Time      Payment
1  Electronic accessories       15.28         5   3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7   3/3/2019  13:23  Credit card
3       Health and beauty       58.22         8  1/27/2019  20:33      Ewallet

## 데이터 인덱싱

In [11]:
print(sales[0:5])

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity       Date   Time  \
0       Health and beauty       74.69         7   1/5/2019  13:08
1  Electronic accessories       15.28         5   3/8/2019  10:29
2      Home and lifestyle       46.33         7   3/3/2019  13:23
3       Health and beauty       58.22         8  1/27/2019  20:33
4       Sports and travel       86.31         7   2/8/2019  10:37

       Payment  Revenue
0      Ewallet   522.83
1         Cash    76.40
2  Credit card   324.31
3      Ewallet   465.76
4      Ewallet   604.17

In [13]:
sales["City"] == "Yangon"

0       True
1      False
2       True
3       True
4       True
       ...
995    False
996    False
997     True
998     True
999     True
Name: City, Length: 1000, dtype: bool

In [15]:
print(sales[sales["City"] == "Yangon"])

      Invoice ID Branch    City Customer type  Gender            Product line  \
0    750-67-8428      A  Yangon        Member  Female       Health and beauty
2    631-41-3108      A  Yangon        Normal    Male      Home and lifestyle
3    123-19-1176      A  Yangon        Member    Male       Health and beauty
4    373-73-7910      A  Yangon        Normal    Male       Sports and travel
6    355-53-5943      A  Yangon        Member  Female  Electronic accessories
..           ...    ...     ...           ...     ...                     ...
990  886-18-2897      A  Yangon        Normal  Female      Food and beverages
992  745-74-0715      A  Yangon        Normal    Male  Electronic accessories
997  727-02-1313      A  Yangon        Member    Male      Food and beverages
998  347-56-2442      A  Yangon        Normal    Male      Home and lifestyle
999  849-09-3807      A  Yangon        Member  Female     Fashion accessories

     Unit price  Quantity       Date   Time      Payment  Revenue
0         74.69         7   1/5/2019  13:08      Ewallet   522.83
2         46.33         7   3/3/2019  13:23  Credit card   324.31
3         58.22         8  1/27/2019  20:33      Ewallet   465.76
4         86.31         7   2/8/2019  10:37      Ewallet   604.17
6         68.84         6  2/25/2019  14:36      Ewallet   413.04
..          ...       ...        ...    ...          ...      ...
990       56.56         5  3/22/2019  19:06  Credit card   282.80
992       58.03         2  3/10/2019  20:46      Ewallet   116.06
997       31.84         1   2/9/2019  13:22         Cash    31.84
998       65.82         1  2/22/2019  15:33         Cash    65.82
999       88.34         7  2/18/2019  13:28         Cash   618.38

[340 rows x 12 columns]

In [16]:
print(sales.iloc[0:3, 0:2])

    Invoice ID Branch
0  750-67-8428      A
1  226-31-3081      C
2  631-41-3108      A

In [18]:
print(sales.loc[0:3, ['Invoice ID', 'Branch']])

    Invoice ID Branch
0  750-67-8428      A
1  226-31-3081      C
2  631-41-3108      A
3  123-19-1176      A

In [20]:
print(sales.loc[sales['Revenue'] > 300, ['Invoice ID', 'Branch', 'Revenue']].head(3))

    Invoice ID Branch  Revenue
0  750-67-8428      A   522.83
2  631-41-3108      A   324.31
3  123-19-1176      A   465.76

### 기본 데이터 전처리
Numpy의 Sort와 비슷합니다.  
3개의 주요 파라미터는 **By, Ascending, Inplace**로 이루어집니다.  
- **By**는 어떤 열을 기준으로 정렬할 것인지를 정합니다. 
- **Ascending= True/False**는 오름차순으로 정렬할 것인지를 뜻합니다.
- **Inplace=True/False**는 해당 명령을 본 데이터에 적용할 것인지를 정합니다.

In [23]:
sales.sort_values(by=['Quantity'], ascending=False).head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,Revenue
761,525-09-8450,B,Mandalay,Normal,Male,Electronic accessories,72.13,10,1/31/2019,15:12,Credit card,721.3
269,731-14-2199,A,Yangon,Member,Female,Home and lifestyle,35.54,10,1/4/2019,13:34,Ewallet,355.4
797,864-24-7918,A,Yangon,Member,Female,Sports and travel,24.49,10,2/22/2019,15:15,Cash,244.9
182,851-28-6367,A,Yangon,Member,Male,Sports and travel,15.50,10,3/23/2019,10:55,Ewallet,155.0
565,698-98-5964,A,Yangon,Normal,Female,Food and beverages,81.21,10,1/17/2019,13:01,Credit card,812.1