In [1]:
import pandas as pd 
print(pd.__version__)

1.4.1

## 테스트

In [2]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### 파일 입출력 및 미리보기
- 데이터셋 출처 : https://www.kaggle.com/aungpyaeap/supermarket-sales

In [35]:
sales = pd.read_csv("data/supermarket_sales.csv")
print(sales.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity      Date   Time      Payment
0       Health and beauty       74.69         7  1/5/2019  13:08      Ewallet
1  Electronic accessories       15.28         5  3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7  3/3/2019  13:23  Credit card

In [36]:
print(sales.tail(3))

      Invoice ID Branch    City Customer type  Gender         Product line  \
997  727-02-1313      A  Yangon        Member    Male   Food and beverages
998  347-56-2442      A  Yangon        Normal    Male   Home and lifestyle
999  849-09-3807      A  Yangon        Member  Female  Fashion accessories

     Unit price  Quantity       Date   Time Payment
997       31.84         1   2/9/2019  13:22    Cash
998       65.82         1  2/22/2019  15:33    Cash
999       88.34         7  2/18/2019  13:28    Cash

In [37]:
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice ID     1000 non-null   object
 1   Branch         1000 non-null   object
 2   City           1000 non-null   object
 3   Customer type  1000 non-null   object
 4   Gender         1000 non-null   object
 5   Product line   1000 non-null   object
 6   Unit price     1000 non-null   float64
 7   Quantity       1000 non-null   int64
 8   Date           1000 non-null   object
 9   Time           1000 non-null   object
 10  Payment        1000 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 86.1+ KB
None

In [38]:
print(sales.describe())

        Unit price     Quantity
count  1000.000000  1000.000000
mean     55.672130     5.510000
std      26.494628     2.923431
min      10.080000     1.000000
25%      32.875000     3.000000
50%      55.230000     5.000000
75%      77.935000     8.000000
max      99.960000    10.000000

### 행과 열 다루기

In [39]:
sales['Revenue'] = 0 
print(sales.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity      Date   Time      Payment  \
0       Health and beauty       74.69         7  1/5/2019  13:08      Ewallet
1  Electronic accessories       15.28         5  3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7  3/3/2019  13:23  Credit card

   Revenue
0        0
1        0
2        0

In [41]:
sales['Revenue'] = sales['Unit price'] * sales['Quantity']
print(sales.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity      Date   Time      Payment  \
0       Health and beauty       74.69         7  1/5/2019  13:08      Ewallet
1  Electronic accessories       15.28         5  3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7  3/3/2019  13:23  Credit card

   Revenue
0   522.83
1    76.40
2   324.31

In [42]:
sales_column_drop = sales.drop('Revenue', axis=1)
print(sales_column_drop.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity      Date   Time      Payment
0       Health and beauty       74.69         7  1/5/2019  13:08      Ewallet
1  Electronic accessories       15.28         5  3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7  3/3/2019  13:23  Credit card

In [44]:
sales_row_drop = sales_column_drop.drop(0, axis=0)
print(sales_row_drop.head(3))

    Invoice ID Branch       City Customer type  Gender  \
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male

             Product line  Unit price  Quantity       Date   Time      Payment
1  Electronic accessories       15.28         5   3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7   3/3/2019  13:23  Credit card
3       Health and beauty       58.22         8  1/27/2019  20:33      Ewallet