## Group by

In [2]:
import pandas as pd 
print(pd.__version__)

1.4.1

In [3]:
sales = pd.read_csv("data/supermarket_sales.csv")
print(sales.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity      Date   Time      Payment
0       Health and beauty       74.69         7  1/5/2019  13:08      Ewallet
1  Electronic accessories       15.28         5  3/8/2019  10:29         Cash
2      Home and lifestyle       46.33         7  3/3/2019  13:23  Credit card

In [4]:
sales.groupby('Product line')['Quantity'].sum()

Product line
Electronic accessories    971
Fashion accessories       902
Food and beverages        952
Health and beauty         854
Home and lifestyle        911
Sports and travel         920
Name: Quantity, dtype: int64

In [5]:
sales.groupby(['Branch', 'Payment'])['Quantity'].sum()

Branch  Payment
A       Cash           572
        Credit card    580
        Ewallet        707
B       Cash           628
        Credit card    599
        Ewallet        593
C       Cash           696
        Credit card    543
        Ewallet        592
Name: Quantity, dtype: int64

In [6]:
type(sales.groupby(['Branch', 'Payment'])['Quantity'].sum())

pandas.core.series.Series

In [24]:
print(sales.groupby(['Branch', 'Payment'], as_index=False)['Quantity'].sum())

  Branch      Payment  Quantity
0      A         Cash       572
1      A  Credit card       580
2      A      Ewallet       707
3      B         Cash       628
4      B  Credit card       599
5      B      Ewallet       593
6      C         Cash       696
7      C  Credit card       543
8      C      Ewallet       592

In [8]:
type(sales.groupby(['Branch', 'Payment'], as_index=False)['Quantity'].sum())

pandas.core.frame.DataFrame

In [32]:
print(sales.groupby(['Branch', 'Payment'], as_index=False)['Quantity'].\
      agg(['sum', 'mean']).reset_index())

  Branch      Payment  sum      mean
0      A         Cash  572  5.200000
1      A  Credit card  580  5.576923
2      A      Ewallet  707  5.611111
3      B         Cash  628  5.709091
4      B  Credit card  599  5.495413
5      B      Ewallet  593  5.247788
6      C         Cash  696  5.612903
7      C  Credit card  543  5.540816
8      C      Ewallet  592  5.584906

In [2]:
import pandas as pd
import numpy as np

dict = {'Score_A':[80, 90, np.nan, 80],
        'Score_B': [30, 45, np.nan, np.nan],
        'Score_C':[np.nan, 50, 80, 90]}

df = pd.DataFrame(dict)
print(df)

   Score_A  Score_B  Score_C
0     80.0     30.0      NaN
1     90.0     45.0     50.0
2      NaN      NaN     80.0
3     80.0      NaN     90.0

In [42]:
df.isnull().sum()

Score_A    1
Score_B    2
Score_C    1
dtype: int64

In [44]:
print(df.fillna(0))

   Score_A  Score_B  Score_C
0     80.0     30.0      0.0
1     90.0     45.0     50.0
2      0.0      0.0     80.0
3     80.0      0.0     90.0

In [45]:
print(df.fillna(method = "pad"))

   Score_A  Score_B  Score_C
0     80.0     30.0      NaN
1     90.0     45.0     50.0
2     90.0     45.0     80.0
3     80.0     45.0     90.0

In [4]:
dict = {'Gender':["남자", "여자", np.nan, "남자"],
        'Salary': [30, 45, 90, 70]}

df = pd.DataFrame(dict)
print(df)

  Gender  Salary
0     남자      30
1     여자      45
2    NaN      90
3     남자      70

In [6]:
df['Gender'].fillna("성별 없음")

0       남자
1       여자
2    성별 없음
3       남자
Name: Gender, dtype: object

In [10]:
dict = {'Score_A': [80, 90, np.nan, 80],
        'Score_B': [30, 45, np.nan, 70],
        'Score_C': [np.nan, 50, 80, 90], 
        'Score_D': [50, 30, 80, 60]}

df = pd.DataFrame(dict)
print(df)

   Score_A  Score_B  Score_C  Score_D
0     80.0     30.0      NaN       50
1     90.0     45.0     50.0       30
2      NaN      NaN     80.0       80
3     80.0     70.0     90.0       60

In [13]:
print(df.dropna(axis = 1))

   Score_D
0       50
1       30
2       80
3       60

In [14]:
print(df.dropna(axis = 0))

   Score_A  Score_B  Score_C  Score_D
1     90.0     45.0     50.0       30
3     80.0     70.0     90.0       60

## Groupby 작동 원리

In [9]:
by_payment = sales.groupby("Payment")
print(by_payment)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000019D6F0149D0>

In [10]:
for payment, frame in by_payment:
    print(f"head(2) for {payment!r}")
    print("-----")
    print(frame[['Invoice ID', 'Branch', 'City', 'Payment']].head(2), end="\n\n")

head(2) for 'Cash'
-----
     Invoice ID Branch       City Payment
1   226-31-3081      C  Naypyitaw    Cash
11  529-56-3974      B   Mandalay    Cash

head(2) for 'Credit card'
-----
    Invoice ID Branch    City      Payment
2  631-41-3108      A  Yangon  Credit card
8  665-32-9167      A  Yangon  Credit card

head(2) for 'Ewallet'
-----
    Invoice ID Branch    City  Payment
0  750-67-8428      A  Yangon  Ewallet
3  123-19-1176      A  Yangon  Ewallet

In [11]:
print(by_payment.get_group('Cash'))

      Invoice ID Branch       City Customer type  Gender  \
1    226-31-3081      C  Naypyitaw        Normal  Female
11   529-56-3974      B   Mandalay        Member    Male
14   829-34-3910      A     Yangon        Normal  Female
15   299-46-1805      B   Mandalay        Member  Female
26   649-29-6775      B   Mandalay        Normal    Male
..           ...    ...        ...           ...     ...
983  148-41-7930      C  Naypyitaw        Normal    Male
984  189-40-5216      C  Naypyitaw        Normal    Male
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity       Date   Time Payment
1    Electronic accessories       15.28         5   3/8/2019  10:29    Cash
11   Electronic accessories       25.51         4   3/9/2019  17:03    Cash
14        Health and beauty       71.38        10  3/29/2019  19:21    Cash
15        Sports and travel       93.72         6  1/15/2019  16:19    Cash
26      Fashion accessories       33.52         1   2/8/2019  15:31    Cash
..                      ...         ...       ...        ...    ...     ...
983       Health and beauty       99.96         7  1/23/2019  10:33    Cash
984  Electronic accessories       96.37         7   1/9/2019  11:40    Cash
997      Food and beverages       31.84         1   2/9/2019  13:22    Cash
998      Home and lifestyle       65.82         1  2/22/2019  15:33    Cash
999     Fashion accessories       88.34         7  2/18/2019  13:28    Cash

[344 rows x 11 columns]

In [12]:
print(sales.loc[sales['Payment'] == "Cash"])

      Invoice ID Branch       City Customer type  Gender  \
1    226-31-3081      C  Naypyitaw        Normal  Female
11   529-56-3974      B   Mandalay        Member    Male
14   829-34-3910      A     Yangon        Normal  Female
15   299-46-1805      B   Mandalay        Member  Female
26   649-29-6775      B   Mandalay        Normal    Male
..           ...    ...        ...           ...     ...
983  148-41-7930      C  Naypyitaw        Normal    Male
984  189-40-5216      C  Naypyitaw        Normal    Male
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity       Date   Time Payment
1    Electronic accessories       15.28         5   3/8/2019  10:29    Cash
11   Electronic accessories       25.51         4   3/9/2019  17:03    Cash
14        Health and beauty       71.38        10  3/29/2019  19:21    Cash
15        Sports and travel       93.72         6  1/15/2019  16:19    Cash
26      Fashion accessories       33.52         1   2/8/2019  15:31    Cash
..                      ...         ...       ...        ...    ...     ...
983       Health and beauty       99.96         7  1/23/2019  10:33    Cash
984  Electronic accessories       96.37         7   1/9/2019  11:40    Cash
997      Food and beverages       31.84         1   2/9/2019  13:22    Cash
998      Home and lifestyle       65.82         1  2/22/2019  15:33    Cash
999     Fashion accessories       88.34         7  2/18/2019  13:28    Cash

[344 rows x 11 columns]

In [13]:
sales['Product line'].value_counts()

Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: Product line, dtype: int64

In [14]:
sales.groupby("Payment", sort=False)['Product line'].apply(lambda ser : ser.str.contains("Home").sum())

Payment
Ewallet        64
Cash           51
Credit card    45
Name: Product line, dtype: int64

## 참조
- https://towardsdatascience.com/pandas-groupby-a-simple-but-detailed-tutorial-314b8f37005d

In [15]:
tbl = sales.groupby(['Branch', 'Payment']).agg(group_total=('Payment', 'count')).reset_index()
tbl['total count in each branch'] = tbl.groupby('Branch')['group_total'].transform(sum)
tbl['% in each branch'] = (tbl['group_total'] * 100.0 / tbl['total count in each branch'])
tbl

,Branch,Payment,group_total,total count in each branch,% in each branch
0,A,Cash,110,340,32.352941
1,A,Credit card,104,340,30.588235
2,A,Ewallet,126,340,37.058824
3,B,Cash,110,332,33.132530
4,B,Credit card,109,332,32.831325
5,B,Ewallet,113,332,34.036145
6,C,Cash,124,328,37.804878
7,C,Credit card,98,328,29.878049
8,C,Ewallet,106,328,32.317073