## 조건문

In [1]:
score = 90
if score > 90:
    print("합격")
else: 
    print("불합격")

불합격

In [5]:
score = 90
print("합격") if score > 90 else print("불합격")

불합격

In [6]:
score = 90
if score > 90:
    print("상")
elif score > 80: 
    print("중")
else: 
    print("하")

중

In [8]:
score = 90
print("상") if score > 90 else print("중") if score > 80 else print("하")

중

In [14]:
score = int(input("숫자를 입력하여 주세요...."))
print("상") if score > 90 else print("중") if score > 80 else print("하")

숫자를 입력하여 주세요.... 91

상

In [15]:
score = int(input("숫자를 입력하여 주세요...."))
print("상") if score > 90 else print("중") if score > 80 else print("하")

숫자를 입력하여 주세요.... 81

중

In [16]:
score = int(input("숫자를 입력하여 주세요...."))
print("상") if score > 90 else print("중") if score > 80 else print("하")

숫자를 입력하여 주세요.... 30

하

## 다중 조건식

In [4]:
money = 4000
isCard = True
if money >= 40000 and isCard:
    print("KTX")
elif money <= 40000 or isCard:
    print("Bus")
else:
    print("No Travel")

Bus

## For Loop

In [7]:
scores = [90, 25, 67, 45, 80]

number = 0 
for score in scores: 
    number = number +1 
    if score >= 60: 
        print("%d번 학생 합격." % number)
    else: 
        print("%d번 학생 불합격." % number)

1번 학생 합격.
2번 학생 불합격.
3번 학생 합격.
4번 학생 불합격.
5번 학생 합격.

## For While

In [8]:
scores = [90, 25, 67, 45, 80]

number = 0 
while number < 5:
    number = number + 1 
    if score >= 60: 
        print("%d번 학생 합격." % number)
    else: 
        print("%d번 학생 불합격." % number)

1번 학생 합격.
2번 학생 합격.
3번 학생 합격.
4번 학생 합격.
5번 학생 합격.

## For Loop 활용

In [10]:
num_list = [1, 2, 3]
result = []
for num in num_list:
    result.append(num * 4)
print(result)

[4, 8, 12]

## List Comprehension

In [12]:
num_list = [1, 2, 3]
result = [num * 4 for num in num_list]
print(result)

[4, 8, 12]

In [17]:
num_list = [1, 2, 3, 4]
result_01 = [num * 4 for num in num_list if num%2 == 0]
print(result_01)

result_02 = [num * 4 if num%2 == 0 else num for num in num_list]
print(result_02)

[8, 16]
[1, 8, 3, 16]