## 딕셔너리 생성

In [2]:
dict_01 = {"name" : "홍길동", 
           "phone" : "010-1234-5678", 
           "birthday" : "1990년 10월 1일"}
dict_01

{'name': '홍길동', 'phone': '010-1234-5678', 'birthday': '1990년 10월 1일'}

In [3]:
dict_01['name']

'홍길동'

## 딕셔너리 & 리스트

In [6]:
dict_01 = {"name" : "홍길동", 
           "phone" : "010-1234-5678", 
           "birthday" : "1990년 10월 1일", 
           "numbers" : [1, 2, 3, 4]}
print(dict_01)
print("dict_01['numbers']:", dict_01["numbers"])

{'name': '홍길동', 'phone': '010-1234-5678', 'birthday': '1990년 10월 1일', 'numbers': [1, 2, 3, 4]}
dict_01['numbers']: [1, 2, 3, 4]

## 값 추가

In [9]:
dict_01 = {"name" : "홍길동", "numbers" : [1, 2, 3]}
print(dict_01)
dict_01["value_string"] = "임의의 값"
print(dict_01)
dict_01["value_tuple"] = (1, 2, 3)
print(dict_01)

{'name': '홍길동', 'numbers': [1, 2, 3]}
{'name': '홍길동', 'numbers': [1, 2, 3], 'value_string': '임의의 값'}
{'name': '홍길동', 'numbers': [1, 2, 3], 'value_string': '임의의 값', 'value_tuple': (1, 2, 3)}

## Key 중복값

In [10]:
dict_01 = {"name" : "홍길동", "name" : "김길동"}
print(dict_01)

{'name': '김길동'}

## Key 삭제

In [18]:
dict_01 = {"name" : "홍길동", 
           "phone" : "010-1234-5678",  
           "birthday" : "1990년 10월 1일", 
           "sales" : [30, 60]}

dict_01["name"] = "김길동"
print(dict_01)

# pop( )
dict_01.pop("name")
print(dict_01)

# del
del dict_01['phone']
print(dict_01)

dict_01.clear()
print(dict_01)

{'name': '김길동', 'phone': '010-1234-5678', 'birthday': '1990년 10월 1일', 'sales': [30, 60]}
{'phone': '010-1234-5678', 'birthday': '1990년 10월 1일', 'sales': [30, 60]}
{'birthday': '1990년 10월 1일', 'sales': [30, 60]}
{}